.buttonContainer {
  button {
    cursor: pointer;
    color: #fff;

    background: linear-gradient(180deg, #4cd3d8, #03779c);
    padding: 20px 40px;
    border-radius: 100px;
    border-width: 0px;
    transition: all 350ms ease-in;
    &:hover {
      color: #ccc;
    }
  }
}
